.featured-products {
  border-radius: 10px;
  overflow: hidden;
}

.featured-products__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #f8f8f8;
}

.featured-products__top-title-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.featured-products__top-star {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.featured-products__top-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: capitalize;
  color: #111;
}

.featured-products__top-controls {
  display: flex;
  gap: 10px;
}

.featured-products__top-btn-prev,
.featured-products__top-btn-next {
  width: 20px;
  height: 20px;
  border: unset;
  background-color: transparent;
}

.featured-products__top-arrow {
  width: 100%;
  height: 100%;
  fill: #222222;
}
