.order {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order > .container {
  display: flex;
  justify-content: space-between;
}

.order__sidebar-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 232px;
}
