.order-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-page > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

@media (min-width: 1200px) {
  .order-page > .container {
    flex-direction: row;
    gap: 20px;
  }
}
