.amount {
  display: flex;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--amount-btn-bg);
}

.amount-minus-btn,
.amount-plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 100%;
  border: unset;
  background-color: var(--amount-btn-bg);
}

.amount-icon {
  width: 50%;
  height: 50%;
  fill: var(--amount-btn-icon-fill);
}

.amount-input {
  width: 30px;
  height: 100%;
  text-align: center;
  border: unset;
}

.amount-input[type='number']::-webkit-inner-spin-button,
.amount-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
