.amount {
  display: flex;
  height: 19px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--amount-btn-bg);
}

@media (min-width: 768px) {
  .amount {
    height: 20px;
  }
}

.amount-minus-btn,
.amount-plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100%;
  border: unset;
  background-color: var(--amount-btn-bg);
}

@media (min-width: 768px) {
  .amount-minus-btn,
  .amount-plus-btn {
    width: 22px;
  }
}

.amount-icon {
  width: 50%;
  height: 50%;
  fill: var(--amount-btn-icon-fill);
}

.amount-input {
  width: 25px;
  height: 100%;
  text-align: center;
  border: unset;
}

@media (min-width: 768px) {
  .amount-input {
    width: 30px;
  }
}

.amount-input[type='number']::-webkit-inner-spin-button,
.amount-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
