.modal__main-payment-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 15px;
  margin-top: 10px;
}

.modal__main-payment-item {
  padding: 7px 15px;
  color: var(--modal-payment-item-color);
  background-color: var(--modal-payment-item-bg);
}
