.products__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 9px;
  background-color: var(--gallery-products-top-bg);
}

@media (min-width: 480px) {
  .products__top {
    padding: 15px 10px;
  }
}

.products__top-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--gallery-products-top-title);
}

@media (min-width: 480px) {
  .products__top-title {
    font-size: 16px;
  }
}

.products__top-icon {
  width: 22px;
  height: 22px;
  fill: var(--gallery-products-top-icon-fill);
}
