.offers-page {
  padding-top: 15px;
  padding-bottom: 40px;
}

.offers__container {
  margin-top: 15px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.offers__top {
  padding: 15px 10px;
  background-color: var(--bg-thirdly);
}

.offers__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 15px;
  width: 100%;
  background-color: var(--bg-secondary);
}

.offers__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 200px;
  text-align: center;
  background-image: url('../../images/special-offer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers__item::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.offers__item-title {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: 700;
  color: var(--text-color-secondary);
  text-transform: capitalize;
}

@media (min-width: 480px) {
  .offers__item-title {
    font-size: 18px;
  }
}

.offers__item-description {
  position: relative;
  z-index: 2;
  font-size: 13px;
  color: var(--text-color-secondary);
}

@media (min-width: 480px) {
  .offers__item-description {
    font-size: 15px;
  }
}

.offers__item-btn {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  padding: 6px 13px;
  color: var(--btn-text-primary);
  border: unset;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--btn-secondary-bg);
}

@media (min-width: 480px) {
  .offers__item-btn {
    padding: 10px 18px;
    font-size: 16px;
  }
}

.special-offer__card:hover .offers__item-btn {
  background-color: var(--btn-secondary-bg-hover);
  transition: all 0.4s;
}
