.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.products__empty-list {
  padding: 15px 10px;
  font-size: 14px;
}
