.header {
  background-color: #ffffff;
  box-shadow: rgba(23, 32, 38, 0.08) 0px 2px 8px 0px,
    rgba(23, 32, 38, 0.06) 0px 2px 4px 0px;
}

.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #222222;
}

.header__top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  font-size: 22px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .header__tel {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .header__tel {
    font-size: 30px;
  }
}
