.special-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.special-offers-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--special-offers-link-icon-bg);
}

.special-offers-icon {
  width: 30px;
  height: 30px;
  fill: var(--special-offers-link-icon-fill);
}

.special-offers-text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
}
