.top-menu {
  position: sticky;
  top: 0;
  max-height: max-content;
  z-index: 10;
  background-color: #ffffff;
}

.top-menu__list {
  display: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .top-menu__list {
    display: flex;
  }
}

.top-menu__open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px;
  border-top: transparent;
  border-bottom: transparent;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  background-color: transparent;
}

@media (min-width: 1200px) {
  .top-menu__open-btn {
    display: none;
  }
}

.top-menu__open-icon {
  width: 25px;
  height: 25px;
}

.top__menu-open-text {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.top-menu__item {
  padding: 14px 19px;
  border-left: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
}

.top-menu__item:hover,
.top-menu__item:focus {
  cursor: pointer;
  background-color: #f9f9f9;
}
