.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: var(--bg-secondary);
}

.footer__top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 767px) {
  .footer__top-payment {
    order: 3;
  }
}

.footer__top-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .footer__top-title {
    text-align: start;
  }
}

.footer__top-payment-img-container {
  margin-top: 5px;
  width: 207px;
  height: 43px;
}

.footer__top-payment-img {
  width: 100%;
  height: 100%;
}

.footer__top-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.footer__top-item {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--footer-top-item);
}

@media (min-width: 1200px) {
  .footer__top-item {
    min-width: 207px;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.footer__bottom-copyright {
  font-size: 12px;
  color: var(--footer-bottom-copyright);
}
