.socials-list {
  display: flex;
  gap: 20px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--socials-item-icon-fill);
  background-color: var(--socials-item-bg);
}

.socials__link:hover,
.socials-link:focus {
  color: var(--socials-item-icon-hover-fill);
  background-color: var(--socials-item-bg-hover);
}

.socials__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
