.products__item {
  display: flex !important;
  flex-direction: column;
  height: 302px;
  padding: 10px;
  overflow: hidden;
}

.products__item-img-container {
  position: relative;
  width: 100%;
  height: 160px;
}

.products__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__item-recommended-container {
  position: absolute;
  top: 20px;
  left: -44px;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  width: 150px;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f44336;
}

.products__recommended-icon {
  width: 12px;
  height: 12px;
}

.products__item-description-container {
  height: auto;
}

.products__item-title {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

.products__item-description {
  font-size: 12px;
  font-weight: 400;
  color: #797979;
}

.products__item-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.products__item-price {
  font-weight: 600;
}

.products__item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 16px;
  border-radius: 5px;
  color: #444;
  background-color: #f3f3f3;
}

.products__item-icon {
  width: 14px;
  height: 14px;
  fill: currentColor;
}
