.cart__complete-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  overflow: hidden;
  border-collapse: collapse;
}

.cart__complete-table-head-row,
.cart__complete-table-body-row {
  display: grid;
  grid-template-columns: 10fr 2fr 2fr 1fr;
}

.cart__complete-table-head-row {
  background-color: var(--table-head-row-bg);
}

.cart__complete-table-body-row {
  border-bottom: 1px solid var(--table-body-row-border);
}

.cart__complete-table-head-title {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .cart__complete-table-head-title {
    padding: 10px 15px;
    font-size: 16px;
  }
}

.cart__complete-table-head-title:first-child {
  text-align: start;
}

.cart__complete-table-body-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .cart__complete-table-body-item {
    padding: 10px 15px;
    font-size: 16px;
  }
}

.cart__complete-table-body-item:not(:first-child) {
  justify-content: center;
}

.cart__complete-table-body-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  border: unset;
  background-color: transparent;
}

.cart__complete-table-body-trash-bin {
  width: 16px;
  height: 16px;
}

@media (min-width: 768px) {
  .cart__complete-table-body-trash-bin {
    width: 18px;
    height: 18px;
  }
}
