@import-normalize;

:root {
  --amount-btn-bg: #9a9ca0;
  --amount-btn-icon-fill: #ffffff;
  --bg-primary: #ececec;
  --bg-secondary: #ffffff;
  --btn-icon-fill: #ffffff;
  --btn-primary-bg: #4caf50;
  --btn-secondary-bg: #8acb8d;
  --btn-thirdly-bg: #f44336;
  --btn-thirdly-bg-hover: #df392d;
  --btn-text-primary: #ffffff;
  --footer-bottom-copyright: #8c8c8c;
  --footer-top-item: #101010;
  --form-input-border: #e2e2e9;
  --gallery-btn-add-bg: #eeeeee;
  --gallery-btn-add-bg-hover: #ffffff;
  --gallery-btn-add-fill: #444444;
  --gallery-item-bg-hover: #f3f3f3;
  --gallery-item-title: #25282b;
  --gallery-item-description: #797979;
  --gallery-price: #000000;
  --gallery-products-top-arrow: #222222;
  --gallery-products-top-bg: #f8f8f8;
  --gallery-products-top-icon-fill: #5c5c5c;
  --gallery-products-top-title: #111111;
  --gallery-recommended-bg: #f44336;
  --gallery-recommended-color: #ffffff;
  --header-bg: #222222;
  --header-tel: #ffffff;
  --table-body-row-border: #e2e2e9;
  --table-head-row-bg: #f8f8f8;
  --sidebar-title: #111111;
  --sidebar-menu-item-text: #414551;
  --sidebar-menu-item-hover-text: #ff3300;
  --sidebar-menu-item-border: #f9f9f9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

picture {
  width: 100%;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 480px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
  }
}
