.sidebar-left__menu {
  border-radius: 10px;
  background-color: #ffffff;
}

.sidebar-left__menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #222;
}

.sidebar-left__menu-item-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  text-transform: capitalize;
  color: #414551;
}

.sidebar-left__menu-item-link:not(:last-child) {
  border-bottom: 1px solid #f9f9f9;
}

.sidebar-left__menu-item-link:hover,
.sidebar-left__menu-item-link:focus {
  cursor: pointer;
  color: #f30;
}

.sidebar-left__menu-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
