.cart__complete-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 15px;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  order: 2;
}

@media (min-width: 768px) {
  .cart__complete-form {
    width: 414px;
  }
}

.cart__complete-form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .cart__complete-form-label {
    font-size: 16px;
  }
}

.cart__complete-form-input {
  padding: 10px 15px;
  border: 1px solid var(--form-input-border);
  border-radius: 8px;
}

.cart__complete-form-input:focus,
.cart__complete-form-comment:focus {
  outline-color: var(--accent-color);
}

.cart__complete-form-comment {
  padding: 10px 15px;
  border: 1px solid var(--form-input-border);
  border-radius: 8px;
  height: 150px;
  resize: none;
}

.cart__complete-form-submit-btn {
  display: inline-block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 24px;
  min-width: 180px;
  border: unset;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--btn-text-primary);
  background-color: var(--btn-primary-bg-enabled);
}
